// Device's width starts
$mobileS-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$laptopL-width: 1440px;
$_4k-width: 2560px;
// Device's width ends

// Device's font-size start
$mobileS-font-size: 12px;
$tablet-font-size: 15px;
$laptop-font-size: 20px;
$laptopL-font-size: 25px;
$_4k-font-size: 30px;
// Device's font-size end

$font-family: "Times New Roman";

$fa-font-path: "~font-awesome/fonts";

// padding
$header-padding: 2vw;
$body-padding: 3vw;
